* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #c3cfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: #e8833a;
  text-transform: uppercase;
  font-weight: 400;
}
/*Tela 4*/

@media (max-width: 600px) {
  /*Tela 4*/
  .order-status {
    margin-top: 120px;
    color: #247a6b;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .film-section,
  .tickets,
  .buyers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 100px 0 0;
  }

  .film-section > h2,
  .tickets > h2,
  .buyers > h2 {
    font-size: 24px;
    font-weight: bold;
    color: #293845;
    margin-bottom: 10px;
  }

  .film-section > p,
  .tickets > p,
  .buyers > p {
    font-size: 24px;
    color: #293845;
    margin-bottom: 10px;
  }

  .home {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .home-button {
    background-color: #e8833a;
    border: 1px solid #e8833a;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
  }

  .hidden {
    display: none;
  }
}
